* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 1000px;
}

nav {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: sticky;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  display: flex;
  place-items: center;
  justify-content: left;
}

h1 {
  vertical-align: middle;
  margin-left: 1rem;
}

#logo {
  width: 40px;
  margin-left: 4rem;
  vertical-align: middle;
}

#menu-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 4rem;
  vertical-align: middle;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: fixed;
  right: 2rem;
  top: 4rem;

  background: white;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  list-style: none;
  color: black;
}

.divider {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  font-size: 12px;
  font-weight: 400;
  color: gray;
}

#item-list-container {
  height: 1000px;
}

#item-list-body {
  padding: 2rem;
}

#item-list-title {
  font-size: 24px;
  font-weight: 600;
  margin-left: 2rem;
  
}

.item-img {
  width: 200px;
  height: 200px;
}


