* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 1000px;
}

nav {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: sticky;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  display: flex;
  place-items: center;
  justify-content: left;
}

h1 {
  vertical-align: middle;
  margin-left: 1rem;
}

#logo {
  width: 40px;
  margin-left: 4rem;
  vertical-align: middle;
}

#menu-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 4rem;
  vertical-align: middle;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: fixed;
  right: 2rem;
  top: 4rem;

  background: white;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  list-style: none;
  color: black;
}

.divider {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  font-size: 12px;
  font-weight: 400;
  color: gray;
}

#item-list-container {
  height: 1000px;
}

#item-list-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 4rem;
}

.item-list-items {
  display: flex;
  gap: 24px;
  margin-left: 4rem;
  margin-top: 2rem;
}

.item-box {
  width: 264px;
  display: flex;
  flex-direction: column;
}

.item-box-upper > img {
  border-radius: 12px;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.item-box-lower {
  display: flex;
  flex-direction: column;
}

.item-box-title {
  display: flex;
  justify-content: space-between;
}

.item-box-percent {
  text-align: right;
}

.image-modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-box {
  width: 744px;
  height: 480px;
  overflow: hidden;
  border-radius: 12px;
  border: rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 0px 36px rgba(0, 0, 0, 0.5));
}

.image-modal-box > img {
  width: 100%;
  object-fit: cover;
}

.close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
}

